<div style="padding:20px 40px ;">
    <h2 style="color: blue;text-decoration: underline;">Contact Details:</h2>
    <br>
    <p>This is the Official Portal of the Government of India designed, developed and hosted by National Informatics Centre (NIC), Ministry of Electronics & Information Technology.</p><p> objective behind the Portal is to provide a single window access to the information and services being provided by the Indian Government for citizens and other stakeholders. The content of this Portal is managed centrally by the National Portal Content Management Team from the National Portal Secretariat.</p><p>Any feedback, related to content, design, or technology with respect to the National Portal of India (NPI) may be submitted at Feedback section or to the Web Information Manager at the address below.</p>
    
</div><br><br>
<div style="font-weight: bold;font-family: Arial, Helvetica, sans-serif;">
    <p>Name:Yamini Garudachalam.</p>
    <p>number:9999999999.</p> 
    <p>E-mail:yamini4.g@gmail.com</p>
</div>

